{
  "parser": "@typescript-eslint/parser",
  "root": true,
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": ["eslint:recommended", "plugin:@typescript-eslint/recommended", "plugin:prettier/recommended", "prettier"],
  "plugins": ["simple-import-sort", "@typescript-eslint"],
  "parserOptions": {
    "ecmaVersion": 12,
    "sourceType": "module",
    "ecmaFeatures": {
      "modules": true
    }
  },
  "settings": {
    "import/extensions": [".js"]
  },
  "rules": {
    "arrow-body-style": ["error", "as-needed"],
    "complexity": ["warn", 16],
    "template-curly-spacing": "off",
    "indent": "off",
    "default-case": 0,
    "max-len": [
      "error",
      {
        "code": 130,
        "ignoreComments": true
      }
    ],
    "no-console": ["warn", { "allow": ["warn", "error", "info"] }],
    "no-unused-vars": "off",
    "prefer-spread": "error",
    "prettier/prettier": ["error"],
    "simple-import-sort/imports": ["error"]
  },
  "overrides": [],
  "ignorePatterns": []
}
